@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgb(226, 224, 222); */
 line-height: 1.8em;
 /* background-color: black; */
 /* background-color: black; */
 /* color: white; */
}
/* button{ */
  /* background-color:#dceafe; */
  /* border:2px solid black; */
/* } */
/* button:hover{
   background-color:#e8f1fd;
}  */

.shine-effect, .shine-effect:active {
  position: relative;
  overflow: hidden; 
   transition: transform .4s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
}/* 
.shine-effect::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    100deg,
    transparent 45%,
    rgba(219, 219, 219, 0.35) 50%,
    transparent 80%
  );
  transform: translate(-180%, -180%) rotate(-12deg);
  opacity: 0;
  pointer-events: none; 
}
.shine-effect:hover::after {
  animation: shineMove 2s ease-out forwards;
 
}

@keyframes shineMove {
  0% {
    transform: translate(-150%, -150%) rotate(-12deg);
    opacity: 1;
  }
  30% {
    opacity: 0.9;
  }
  100% {
    transform: translate(180%, 180%) rotate(-12deg);
    opacity: 0;
  }
} */
.shine-effect:hover {
 /* transform: scale(1.03) rotateX(20deg) rotateY(10deg); */
}


/* SHINE INSIDE (not rotated!) */
.shine-effect::after {
 
  content: "hi" ;
  position: absolute;
  inset: 0;
background: url(/public/css.jpg);
  background: linear-gradient(
    135deg,
    transparent 40%,
    rgba(0, 255, 255, 0.4) 50%,
    transparent 60%
  );

  /* start BEFORE hover */
  transform: translate(-150%, -150%);

  opacity: 0;
  pointer-events: none;

  transition: opacity .2s;
}

/* SHINE ANIMATION ON HOVER */
.shine-effect:hover::after , .shine-effect:active::after{
  animation: shineMove 0.9s ease-out forwards;
}

@keyframes shineMove {
  0% {
    transform: translate(-150%, -150%);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: translate(150%, 150%);
    opacity: 0;
  }
}

* {
   font-family: 'Inter', sans-serif;
}
body h1{
  font-family: 'Playfair';
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.kedebideri-regular {
  font-family: "Kedebideri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kedebideri-medium {
  font-family: "Kedebideri", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgb(197, 195, 195);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}